.env
.env.dev
.env.test
.air.conf
.air.toml
docker-compose.yml
docker-compose.test.yml

backups/
docker/
storage/
database/seeders/json_book/
assets/
volumes/
.idea/
logs/

.claude
CLAUDE.md
KODA.md

main
build